html, body {
  min-height: 100%;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  height: 100%;
  margin: 0px;
  background-color: rgba(39,39,39);
}

#page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.jumbotron {
  width:100%;
}

#cards {
  width: 100%;
}

